/*================Reset style start=================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*================Reset style finish=================*/
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: Philosopher;
  scroll-behavior: smooth;
  color: var(--font-color1);
}
:root {
  --font-color1: #fff;
  --font-color2: #ff9900;
  --font-color3: #000;
  --border-color: #ffe600;
  --backgraund-color: #f6fdee;
}
.main-block {
  margin: 0 auto;
}
.vintage {
  display: flex;
  background-image: url(../image/banner1.png);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px 142px;
  background-repeat: no-repeat;
  height: 1080px;
  background-size: cover;
  align-items: start;
  justify-content: center;
  background-position: center;
}
.container {
  margin: 0 auto;
  max-width: 1636px;
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  grid-column-gap: 8vw;
  align-self: center;
}
.menu a {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--font-color1);
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 1fr;
  grid-gap: 15px;
  padding: 8px 0;
}

.logo {
  font-size: 4rem;
  font-weight: 400;
  color: var(--font-color1);
  text-decoration: none;
  text-align: center;
}
.logo span {
  color: var(--font-color2);
}
.menu a:hover {
  color: var(--font-color2);
}
.main-btn {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--font-color2);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid transparent;
  width: fit-content;
  margin-left: auto;
  padding: 3px 10px;
}
.main-btn:hover {
  color: var(--font-color1);
  border-color: var(--font-color2);
}
.main-grid {
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-column-gap: 10vw;
  align-self: center;
  margin-top: 320px;
}
h1 {
  font-size: 8rem;
  font-weight: 400;
  line-height: 9rem;
  text-align: right;
}
h1 span {
  color: var(--font-color2);
}
.main-grid p {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 3.8rem;
  text-align: left;
}
.main-grid p span {
  color: var(--font-color2);
  text-align: right;
  padding: 10px 0 0px 410px;
}
.our-story {
  display: flex;
  background: var(--backgraund-color);
  padding: 120px 141px;
  align-items: start;
}
h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--font-color3);
  margin-bottom: 70px;
}
h2 span {
  color: var(--font-color2);
}
.our-story-grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 2.5fr 2.5fr;
  grid-column-gap: 2vw;
  grid-row-gap: 1.2vw;
}
.our-story-grid > div {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--font-color3);
  line-height: 2rem;
}
.photo1 {
  background-image: url(../image/vintage1.png);
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 2;
  background-size: cover;
}
.photo2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  image-size: cover;
}
.image-grid {
  width: 100%;
}
h3 {
  color: var(--font-color2);
  font-size: 2.4rem;
  font-weight: 700;
}
.photo2 h3,
p {
  text-align: center;
}
.our-story-grid p {
  margin-top: 22px;
  margin-bottom: 32px;
}
.photo2 .image-grid {
  height: 81.5%;
}
.photo3 {
  background-image: url(../image/vintage3.png);
  background-repeat: no-repeat;
  grid-column-start: 3;
  grid-column-end: 4;
  background-size: cover;
}
.photo4 p {
  text-align: left;
}
.photo5 p {
  text-align: left;
}
.second-btn {
  display: flex;
  margin-left: auto;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--font-color3);
  background: none;
  border: none;
  border-bottom: 7px solid var(--border-color);
  padding: 0;
  margin-top: 35px;
  cursor: pointer;
  transition: 0.3s;
}
.second-btn:hover {
  color: var(--border-color);
  border-bottom: none;
  border-bottom: 7px solid transparent;
}
.our-collection {
  display: flex;
  position: relative;
  background: var(--font-color1);
  padding: 120px 0;
}
.our-collection .container {
  margin: 0 142px;
}
.line {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--font-color2);
  z-index: 0;
}
.top {
  top: 266px;
}
.bottom {
  bottom: 229px;
}
.our-collection-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 3fr;
  grid-column-gap: 2vw;
  position: relative;
}
.travel1 {
  background-image: url(../image/MaskGroup1.png);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
}
.city-btn {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--font-color1);
  background: none;
  border: none;
  border-bottom: 7px solid var(--border-color);
  padding: 0;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.our-collection-grid p {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--font-color1);
  line-height: 2rem;
  text-align: left;
  margin-bottom: 50px;
}
.travel2 {
  background-image: url(../image/MaskGroup2.png);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
}
.travel3 {
  background-image: url(../image/MaskGroup3.png);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
}
.travel4 {
  background-image: url(../image/MaskGroup4.png);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
}
.vintage-hour {
  display: flex;
  background-image: url(../image/MaskGroup5.png);
  background-blend-mode: multiply;
  padding: 120px 142px;
  background-repeat: no-repeat;
  height: 904px;
  background-size: cover;
  align-items: start;
  justify-content: center;
  background-position: center;
}
.vintage-hour-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 2fr;
  grid-column-gap: 8vw;
}
.image {
  margin-right: 0;
  margin-left: 60px;
}
.areas {
  margin-right: 50px;
}
.areas p {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--font-color3);
  line-height: 2rem;
  text-align: start;
  margin: 20px 0;
}
.areas h2 {
  margin-bottom: 0;
}
.areas .second-btn {
  margin-top: 0;
}
.our-purpose {
  display: flex;
  position: relative;
  background: var(--font-color1);
  padding: 120px 0;
}
.our-purpose .top {
  top: 257px;
}
.our-purpose .bottom {
  bottom: 257px;
}
.our-purpose .container {
  padding: 0;
}
.our-purpose-grid {
  display: grid;
  grid: repeat(19, 20px) / repeat(24, 1fr);
  gap: 20px;
  position: relative;
}

.our-purpose-grid div {
  overflow: hidden;
  display: flex;
}

.our-purpose-grid img {
  width: 100%;
  object-fit: cover;
}

.picture1 {
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 9;
}
.picture4 {
  grid-row-start: 8;
  grid-row-end: 14;
  grid-column-start: 1;
  grid-column-end: 5;
}
.picture5 {
  grid-row-start: 8;
  grid-row-end: 14;
  grid-column-start: 5;
  grid-column-end: 9;
}
.picture6 {
  grid-row-start: 14;
  grid-row-end: 19;
  grid-column-start: 1;
  grid-column-end: 9;
}

.picture2 {
  grid-row-start: 1;
  grid-row-end: 19;
  grid-column-start: 9;
  grid-column-end: 14;
}
.picture3 {
  grid-row-start: 1;
  grid-row-end: 10;
  grid-column-start: 14;
  grid-column-end: 25;
}
.picture7 {
  grid-row-start: 10;
  grid-row-end: 19;
  grid-column-start: 14;
  grid-column-end: 17;
}
.picture8 {
  grid-row-start: 10;
  grid-row-end: 15;
  grid-column-start: 17;
  grid-column-end: 21;
}
.picture9 {
  grid-row-start: 15;
  grid-row-end: 19;
  grid-column-start: 17;
  grid-column-end: 21;
}
.picture10 {
  grid-row-start: 10;
  grid-row-end: 19;
  grid-column-start: 21;
  grid-column-end: 25;
}
.awards-grid {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1.5fr;
  grid-column-gap: 7vw;
}
.column1 {
  display: grid;
  grid-row-gap: 3vw;
}
.award-grid {
  width: 100%;
}
